################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TRS/FileContentIndex/6c061b44-aa33-4c55-97f3-7520694f7a2a.vsidx
