################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TRS/FileContentIndex/9aeeab85-3a2b-44d5-9c61-fabf445ad86a.vsidx
